<div class="problem" *ngIf="problem">
  <!-- 옵션 메뉴 토글  -->
  <div class="float-right text-right" >
    <a class="text-secondary fa fa-ellipsis-h" (document:click)=closeMenu() (click)=toggleMenu($event) ></a>
    <div class="problem-menu" *ngIf="showMenu">
      <ul>
        <li><a [routerLink]="['/problem',problem.id]">자세히</a></li>
        <li><a [routerLink]="['/problem', problem.id, 'edit']" >수정</a><br></li>
        <li><a (click)="deleteProblem(problem)" >삭제</a></li>
      </ul>
    </div>
  </div>

  <!-- 문제 기본 정보 해시태그 - 연도, 번호 교수 -->
  <div class="problem-info text-muted">
    <!-- 즐겨찾기 -->
    <div class="d-inline-block favorite" (click)="toggleBookmark()">
      <a class="fa fa-star-o text-muted" *ngIf="!isBookmark"></a>
      <a class="fa fa-star text-warning" *ngIf="isBookmark"></a>
    </div>
    <div class="pr-2 d-inline-block" *ngIf="problem.year">#{{problem?.year}}</div>
    <div class="pr-2 d-inline-block" *ngIf="problem.course">#{{problem?.course}}</div>
    <div class="pr-2 d-inline-block" *ngIf="problem.topic">#{{problem?.topic}}</div>
    <div class="pr-2 d-inline-block" *ngFor="let number of problem.numbers">#{{number}}번</div>
    <div class="pr-2 d-inline-block" *ngFor="let prof of problem.profs">#{{prof}}</div>
    <div class="pr-2 d-inline-block" *ngFor="let tag of problem.tags">#{{tag}}</div>
  </div>
  <!-- 문제 질문 -->
  <div class="problem-question pl-2" [innerHTML]="problem.question"></div>
  <!-- 문제 답 -->
  <div class="problem-answer text-right">
    <a data-toggle="collapse" [attr.data-parent]="'#problem'+problem.id" [attr.href]="'#problem-answer'+problem.id" aria-expanded="false" [attr.aria-controls]="'problem-answer'+problem.id">Answer</a>
    <div [attr.id]="'problem-answer'+problem.id" class="collapse" role="tabpanel">
      <div class="d-inline answer text-left"><pre><code  [innerHTML]="problem.answer"></code></pre></div>
    </div>
  </div>
</div>
