<div class="problem-form container">
  <p>Problem! Yeah!</p>
  Test: {{problemForm.value | json }} {{problemForm.status | json}}
  <form [formGroup]="problemForm" (ngSubmit)="onSubmit()" novalidate>

    <div formGroupName="info">
      <div class="form-group">
        <label for="year">연도:
        <select class="form-control" formControlName="year" (change)="updateCourseList()">
          <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
        </select>
        </label>
      </div>

      <div class="form-group">
        <label for="course">과목명:
        <select class="form-control" formControlName="course" (change)="updateTopicList()">
          <option *ngFor="let course of courseList" [value]="course">{{course}}</option>
        </select>
        </label>
      </div>

      <div class="form-group">
        <label for="topic">수업명:
        <select  class="form-control" formControlName="topic" (change)="updateProfList()">
          <option *ngFor="let topic of topicList" [value]="topic">{{topic}}</option>
        </select>
        </label>
      </div>
      
      <div formArrayName="profs">
        <div *ngFor="let prof of profs.controls; let i=index" >
          <!-- The repeated address template -->
          <label for="profs">교수명:
          <select  class="form-control" [formControlName]="i">
            <option *ngFor="let prof of profList" [value]="prof">{{prof}}</option>
          </select>
          </label>
        </div>
        <button (click)="addProf()" class="btn btn-secondary" type="button" >Add a Prof</button>
      </div>
    </div>

    <div class="form-group"><label for="numbers">번호: <input type="text" class="form-control" formControlName="numbers"></label></div>
    <div *ngIf="numbers.invalid && (numbers.dirty || numbers.touched)" class="alert alert-danger">
      <div *ngIf="numbers.errors.pattern">
        Number is invalid.
      </div>
    </div>
    <div class="form-group"><label for="question">질문: <input type="text" class="form-control" formControlName="question"></label></div>
    <div class="form-group"><label for="answer">정답: <input type="text" class="form-control" formControlName="answer"></label></div>
    <div *ngIf="answer.invalid && (answer.dirty || answer.touched)" class="alert alert-danger">
      <div *ngIf="answer.errors.required">
        Answer is required.
      </div>
    </div>


    <div formArrayName="otherTags" >
      이외의 태그
      <div *ngFor="let tag of otherTags.controls; let i=index" [formGroupName]="i">
        <!-- The repeated address template -->
        <div class="form-group"><label for="tags">태그: <input type="text" class="form-control" formControlName="body"></label></div>
      </div>
      <button (click)="addTag()" class="btn btn-secondary" type="button" >Add a Tag</button>
    </div>
    <!-- <div class="form-group"><label for="tags">태그: <input type="text" class="form-control" formControlName="tags"></label></div> -->

    <button type="submit" [disabled]="problemForm.invalid" class="btn btn-success">저장</button> &nbsp;
    <button type="reset" (click)="revert()" [disabled]="problemForm.pristine" class="btn btn-danger">취소</button>
  </form>

</div>
