<div class="problem" *ngIf="problem">
  <!-- 옵션 메뉴 토글  -->
  <div class="float-right text-right" >
    <a class="text-secondary fa fa-ellipsis-h" (document:click)=closeMenu() (click)=toggleMenu($event) ></a>
    <div class="problem-menu" *ngIf="showMenu">
      <ul>
        <li><a [routerLink]="['/problem', problem.id, 'edit']" >수정하기</a><br></li>
        <li><a (click)="deleteProblem(problem)" >삭제하기</a></li>
      </ul>
    </div>
  </div>

  <!-- 문제 기본 정보 해시태그 - 연도, 번호 교수 -->
  <div class="problem-info text-muted">
    <!-- 즐겨찾기 -->
    <div class="d-inline-block favorite" (click)="toggleBookmark()">
      <a class="fa fa-star-o text-muted" *ngIf="!isBookmark"></a>
      <a class="fa fa-star text-warning" *ngIf="isBookmark"></a>
    </div>
    <div class="pr-2 d-inline-block" *ngIf="problem.year">#{{problem?.year}}</div>
    <div class="pr-2 d-inline-block" *ngIf="problem.course">#{{problem?.course}}</div>
    <div class="pr-2 d-inline-block" *ngIf="problem.topic">#{{problem?.topic}}</div>
    <div class="pr-2 d-inline-block" *ngFor="let number of problem.numbers">#{{number}}번</div>
    <div class="pr-2 d-inline-block" *ngFor="let prof of problem.profs">#{{prof}}</div>
    <div class="pr-2 d-inline-block" *ngFor="let tag of problem.tags">#{{tag}}</div>
  </div>
  <!-- 문제 질문 -->
  <div class="problem-question pl-2" [innerHTML]="problem.question"></div>
  <!-- 문제 답 -->
  <div class="problem-answer text-right">
    <a data-toggle="collapse" [attr.data-parent]="'#problem'+problem.id" [attr.href]="'#problem-answer'+problem.id" aria-expanded="false" [attr.aria-controls]="'problem-answer'+problem.id">Answer</a>
    <div [attr.id]="'problem-answer'+problem.id" class="collapse" role="tabpanel">
      <div class="d-inline answer text-left" [innerHTML]="problem.answer"></div>
    </div>
  </div>

  <!-- 문제 comment toggler -->
  <div class="comments-toggler">
    <a class="btn btn-outline-secondary btn-sm" (click)="toggleComments();getComments()">Comments</a>
    <!-- <span class="badge badge-pill badge-info align-top">{{problem.commentsCount}}</span>  -->
  </div>
  <!-- comments -->
  <div class="problem-comments col-12" *ngIf="showComments">
    <div class="problem-comment clearfix" *ngFor="let comment of comments; let i = index;">
      <div class="comment-body">{{comment.body}}</div>
      <!-- <span class="fa fa-pencil float-right text-muted mr-1"></span>  -->
      <span *ngIf="checkCommentUser(comment)"class="fa fa-times float-right text-muted mr-1" (click)="deleteComment(comment, i)"></span>
    </div>
    <!-- comment form -->
    <form class="comment-form form-inline" [attr.id]="'problem-comment-form'+problem.id">
      <div class="col text-right d-flex justify-content-center p-0">
        <div class="input-group row col py-1">
          <textarea #newComment class="form-control comment-form" required name="body" [(ngModel)]="newCommentBody"></textarea>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-outline-secondary h-100" (click)="addComment(newComment.value)">Submit</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
