<div class="problem-form container">

  <div class="row">
    <form class="col-sm-6" [formGroup]="problemForm" (ngSubmit)="onSubmit()" novalidate>
      <div formGroupName="info">
        <div class="form-group row">
          <label for="year" class="col-sm-2 sr-only">년도</label>
          <div class="col-sm-8 px-0">
            <select class="form-control" formControlName="year" (change)="updateCourseList()">
              <option value="" disabled selected>년도</option>
              <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
            </select>
            <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger row no-gutters py-1">
              <div *ngIf="year.errors.required">
                년도를 입력해주세요.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="course" class="col-sm-2 sr-only">과목</label>
          <div class="col-sm-8 px-0">
            <select class="form-control" formControlName="course" (change)="updateTopicList(course.value)">
              <option value="" disabled selected>과목</option>
              <option *ngFor="let course of courseList" [value]="course">{{course}}</option>
            </select>
            <div *ngIf="course.invalid && (course.dirty || course.touched)" class="alert alert-danger row no-gutters py-1">
              <div *ngIf="course.errors.required">
                과목을 입력해주세요.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="topic" class="col-sm-2 sr-only">수업</label>
          <div class="col-sm-8 px-0">
            <select class="form-control" formControlName="topic" (change)="updateProfList(topic.value)">
              <option value="" disabled selected>수업</option>
              <option *ngFor="let topic of topicList" [value]="topic">{{topic}}</option>
            </select>
            <div *ngIf="topic.invalid && (topic.dirty || topic.touched)" class="alert alert-danger row no-gutters py-1">
              <div *ngIf="topic.errors.required">
                수업을 입력해주세요.
              </div>
            </div>
          </div>

        </div>

        <div formArrayName="profs" class="form-group row">
          <label for="profs" class="col-sm-2 sr-only">교수</label>
          <div *ngFor="let prof of profs.controls; let i=index" class="col-sm-4 px-0">
            <select class="form-control d-inline w-75" [formControlName]="i">
              <option value="" disabled selected>교수</option>
              <option *ngFor="let prof of profList" [value]="prof">{{prof}}</option>
            </select>
            <span *ngIf="i!=0" (click)="deleteProf(i)" class="d-inline fa fa-times"></span>
            <div *ngIf="profs.at(i).invalid && (profs.at(i).dirty || profs.at(i).touched)" class="alert alert-danger row no-gutters py-1 w-75">
              <div *ngIf="profs.at(i).errors.required">
                빈 칸
              </div>
            </div>
          </div>
          <button (click)="addProf()" class="btn btn-secondary" type="button">다른 교수 추가</button>
        </div>
      </div>

      <div class="form-group row"><label for="numbers" class="col-sm-2 sr-only">번호</label> <input type="text" class="form-control col-sm-8" formControlName="numbers" placeholder="문제 번호" (input)="cleanNum()">
        <div class="col-sm-4 text-secondary">묶음 문제의 경우, 콤마로 번호를 분리하세요. Ex) 1,2,3 / R4,R5</div>
      </div>
      <div *ngIf="numbers.invalid && (numbers.dirty || numbers.touched)" class="alert alert-danger">
        <div *ngIf="numbers.errors.pattern">
          Number is invalid.
        </div>
      </div>

      <div formArrayName="tags" class="form-group row">
        <label for="tags" class="col-sm-2 sr-only">태그</label>
        <div *ngFor="let tag of tags.controls; let i=index" [formGroupName]="i" class="col-sm-4 px-0">
          <input type="text" class="form-control w-75 d-inline" formControlName="body">
          <span (click)="deleteTag(i)" class="fa fa-times d-inline"></span>
        </div>
        <button (click)="addTag()" class="btn btn-secondary" type="button">태그 추가</button>
      </div>

      <div class="form-group row">
        <label for="question" class="col-12 sr-only">질문</label>
        <div class="col-md-12 px-0" style="border-radius: .25rem;">
          <ng2-summernote formControlName="question" height="300" placeholder="질문을 입력하세요" serverImgUp="true" uploadFolder="./assets"></ng2-summernote>
        </div>
      </div>


      <div class="form-group row"><label for="answer" class="col-sm-2 sr-only">정답</label>
        <div class="col-sm-12 px-0">
          <textarea class="form-control" formControlName="answer" rows="2" placeholder="정답"></textarea>
          <div *ngIf="answer.invalid && (answer.dirty || answer.touched)" class="alert alert-danger">
            <div *ngIf="answer.errors.required">
              정답을 입력해주세요.
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="form-group"><label for="tags">태그: <input type="text" class="form-control" formControlName="tags"></label></div> -->

      <button type="submit" [disabled]="problemForm.invalid" class="btn btn-success">저장</button>
      <button type="button" (click)="toPreviousPage()" class="btn btn-danger">이전페이지</button>
    </form>

    <div class="col-6 hidden-sm-down">
      <div class="card sticky-top">
        <h4 class="card-header">미리보기</h4>
        <div class="card-body">
          <problem [problem]="prepareSave()"></problem>
        </div>
      </div>
    </div>

  </div>


</div>
