.problem-menu{
  position: absolute;
  width: 100px;
  right: 10px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.problem-menu>ul{
  list-style-type: none;
  text-align: center;
  padding: 0 12px;
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}

a:not([href]) {
  color: #007bff;
  text-decoration: none;
}

a:not([href]):hover {
  color: #0056b3;
  text-decoration: none;
  cursor: pointer;
}

div .problem-info {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  white-space: normal;
}

div .answer > pre{
  text-align: right;
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  word-wrap: normal;
}

div .answer > pre>code{
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  font-family: monospace, monospace;
  max-width: 100%;
  overflow-wrap: normal;
  white-space: pre-line;
  word-break: break-word;
}
