<div class="toc-problems" *ngIf="searchData" class="row">
  <div class="col">
    <div *ngFor="let content of searchData.contents" class="w-100">
      <div class="mb-2">
        <h2 id="{{content.title|topicId}}" class="d-inline block"> {{content.title}}</h2>
      </div>
      <div *ngFor = "let innerContent of content.contents">
        <h3>{{innerContent.title}}</h3>

        <div *ngFor="let problems of innerContent.contents">
          <!-- 문제 div-->
          <div class="problem" *ngFor="let problem of problems.contents" >
            <button type="button" name="button" class="btn btn-sm float-right" (click)="openForm(problem)">수정</button>
            <button type="button" name="button" class="btn btn-sm float-right" >삭제</button>
            <problem [problem]="problem" [showAnswer]="true"></problem>
          </div>
          <button type="button" name="button" (click)="closeForm()">종료</button>
        </div>
      </div>
    </div>
  </div>
  <problem-form *ngIf="editMode" class="col" [showPreview]="false" [problem]="editProblem"></problem-form>
</div>
