<div class="toc-problems" *ngIf="searchData">
  <div *ngFor="let content of searchData.contents">
    <div class="mb-2">
      <h2 id="{{content.title|topicId}}" class="d-inline block"> {{content.title}}</h2>
    </div>
    <div *ngFor = "let innerContent of content.contents">
      <h3>{{innerContent.title}}</h3>

      <div *ngFor="let problems of innerContent.contents">
        <!-- 문제 div-->
        <problem *ngFor="let problem of problems.contents" [problem]="problem" ></problem>
      </div>
    </div>
  </div>
</div>
