<div class="content container-fluid" *ngIf="jblData">
  <div class="content row">
    <div class="toc navbar col-sm-3" id="toc-list" #toc>
      <ul class="nav flex-column sidebar sticky-top">
        <li class="nav-item" *ngFor="let topic of jblData.topics">
          <a class="nav-link pt-1" [routerLink]="['./']" fragment="{{topic.title|topicId}}">{{topic.title}}</a>
        </li>
      </ul>
    </div>

    <div class="problems py-2 col-sm-9" data-spy="scroll" data-target="#toc-list" data-offset="0">
      <h1 class="text-center">{{jblData.title}}</h1>
      <br>
      <div class="problems-by-topic" *ngFor="let topic of jblData.topics">
        <h2 id="{{topic.title|topicId}}" class="mb-2">[{{topic.title}}]</h2>
        <!-- 문제 div-->
        <problem *ngFor="let problem of topic.problems" [problem]=problem></problem>
      </div>
    </div>
  </div>
</div>
