<div class="content container-fluid" *ngIf = "jblData">
  <div class="content row">
    <div class="toc navbar col-3" id="toc-list">
      <ul class="nav flex-column sidebar sticky-top">
        <li class="nav-item" *ngFor="let topic of jblData.topics">
          <a class="nav-link" href="#{{topic.title|topicId }}">{{topic.title}}</a>
        </li>
      </ul>
    </div>

    <div class="problems py-2 col-9" data-spy="scroll" data-target="#toc-list" data-offset="0">
      <h1 class="text-center">{{jblData.course}}</h1>
      <br>
      <div class="problems-by-topic" *ngFor = "let topic of jblData.topics">
        <h2 id="{{topic.title|topicId}}" class ="mb-2">[{{topic.title}}]</h2>
          <!-- 문제 div-->
          <div class="problem mb-4" *ngFor = "let problem of topic.problems" [attr.id] = "'problem'+problem.id">
            <!-- 문제 기본 정보 해시태그 - 연도, 번호 교수 -->
            <div class="problem-info d-flex justify-content-start text-muted">
              <div class="pr-2" *ngFor="let tag of problem.tags">#{{tag}}</div>
            </div>
            <!-- 문제 질문 -->
            <div class="problem-question pl-2" [innerHTML]="problem.question">  </div>
            <!-- 문제 답 -->
            <div class="problem-answer text-right">
              <a data-toggle="collapse" [attr.data-parent]="'#problem'+problem.id" [attr.href]="'#problem-answer'+problem.id" aria-expanded="false" [attr.aria-controls]="'problem-answer'+problem.id">Show answer</a>
              <div [attr.id]="'problem-answer'+problem.id" class="collapse" role="tabpanel">
                <p class="mb-3">
                  답: {{problem.answer}}
                </p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
