/* You can add global styles to this file, and also import other style files */

p {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

div .problems {
  position: relative;
  overflow-y: scroll;
}

body {
  position: relative;
}

div .problem-info {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.badge {
  font-size: 8px;
}

.sidebar {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: block;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
}

table {
  border-collapse: collapse !important;
}
table td,
table th {
  background-color: #fff !important;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

table tbody + tbody {
  border-top: 2px solid #eceeef;
}

table {
  background-color: #fff;
  padding: 2 2 2 2;
}

img {
  vertical-align: middle;
  display: inline-block;
  border-style: none;
  page-break-inside: avoid;
  max-width: 100%;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: #292b2c;
}

div .answer > pre{
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  word-wrap: normal;
}

div .answer > pre>code{
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  font-family: monospace, monospace;
  max-width: 100%;
  overflow-wrap: normal;
  white-space: pre-line;
}

.toc {
  white-space: nowrap;
  color: #636c72;
}

.toc-header {
  font-size: 115%;
  font-weight: 600;
  color: #292b2c;
}

.sidebar {
  border-right: 1px dotted #ccc;
}

a:not([href]):not([tabindex]) {
  color: black;
}

a:not([href]):not([tabindex]):hover {
  /*color: #2d2dad;*/
  color: #2644af;
}

div.content {
  background-color: #f1f1f1;
}

div.problem {
  background-color: #fff;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.3rem;
}
div.problems-by-content>h2 {
  padding-top: 2rem;
  margin-bottom: 0.75rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border-top: 1px solid #a0a0a0;
}

div.problem-comments{

}
div.problem-comment{
  border-bottom: 1px solid #eceeef;
  padding: 0.1rem;
}

div.comment-form-toggle {
  color: #0275d8;
}

div.comment-form-toggle:hover{
  /*color: #2d2dad;*/
  color: darkblue;
}

form.comment-form{
  padding: 0.1rem;

}

/*
textarea.comment-form{
  width: 100% !important;
}*/

div.comment-body{
  white-space: pre-line;
  word-break: break-word;
}

div.up-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}
